.logged-user{
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.logged-user-name{
    color: var(--dsc-color-font-primary);
}


.logged-user-quit{
    font-weight: 700;
    color: var(--dsc-color-font-primary);
    cursor: pointer;

}
.logged-user-quit:hover{
    color: black;
    text-decoration: underline;
}

