
.devcom-header-admin{
    background-color: var(--dsc-color-font-quaternary);
    color: var(--dsc-color-font-tertiary);
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.admin-loged-user{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.admin-loged-user a{
    font-weight: 100;
    font-size: 10px;
    
    
}
.admin-not-selected-Nav{
    font-weight: 100;

}
.admin-selected-Nav{
    font-weight: 700;

}