.devcom-crud-item-container{
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.devcom-crud-item-container img {
  margin-left: 30px;
  width: 78px;
  height: 78px;
}


.devcom-crud-product-card-left-information{
  display: flex;
  align-items: center;
  justify-content:center;

}
.devcom-crud-product-card-center-information{
  width: 70%;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;

}
.devcom-crud-product-price{
  width:150px;
  display:flex;
  justify-content: end;
}
.devcom-crud-product-name{
  width:300px;
  display:flex;
  justify-content: end;
}

.devcom-crud-product-card-right-information{
  width: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

