
#product-listing-section{
    margin-top: 30px;
    margin-bottom: 20px;
}

.devcom-product-listing-header
{
    display:flex;
    padding-left: 20px;
}
.devcom-product-listing-header-atributes
{
    font-weight: 700;
}
